@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 3px;
    border-radius: 5px;
}

.board.isWon {
    animation-name: win;
    animation-duration: 3.5s;
}

@media screen and (max-width: 800px) {

}

@keyframes win {
    0%   {background-color: rgba(250, 139, 255, 0.4);}
    25%  {background-color: rgba(43, 210, 255, 0.4);}
    50%  {background-color: rgba(43, 255, 136, 0.4);}
    100% {background-color: rgba(251, 218, 97, 0.4);}
}
